.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-pagination-bullets {
    margin-top: 2rem;
    position: relative;
}

.swiper-pagination-bullet-active {
    color: #6C3321 !important;
    background-color: #6C3321 !important;
}